# web

[tasks.web-dev]
script = "dx serve --web --port $PORT --hotpatch"

[tasks.web]
script = "dotenv cargo make web-dev"

[tasks.web-build-dx]
script = "dx bundle --web --release"

[tasks.web-dist]
script = "mkdir -p bin/web && cp -r target/dx/wingedcap-client/release/web/public/* bin/web"

[tasks.web-build]
run_task = { name = ["web-build-dx", "web-dist"] }

[tasks.web-local]
script = "dotenv cargo make web-build"


# desktop

[tasks.desktop-dev]
script = "dx serve --desktop --hotpatch"

[tasks.desktop]
script = "dotenv cargo make desktop-dev"

[tasks.desktop-build-dx]
script = "dx bundle --desktop --release"

[tasks.linux-dist]
script = "mkdir -p bin/linux                           && cp -r target/dx/wingedcap-client/bundle/linux/wingedcap-client            bin/linux/wingedcap         && cp -r target/dx/wingedcap-client/bundle/linux/bundle/deb/*.deb           bin/linux/wingedcap.deb         "

[tasks.macos-dist]
script = "mkdir -p bin/macos                           && cp -r target/dx/wingedcap-client/bundle/macos/bundle/macos/*.app          bin/macos/wingedcap.app     && cp -r target/dx/wingedcap-client/bundle/macos/bundle/dmg/*.dmg           bin/macos/wingedcap.dmg         "

[tasks.windows-dist]
script = "if not exist bin\\windows mkdir bin\\windows && copy  target\\dx\\wingedcap-client\\bundle\\windows\\wingedcap-client.exe bin\\windows\\wingedcap.exe                                                                                                             "

[tasks.linux-build]
run_task = { name = ["desktop-build-dx", "linux-dist"  ] }

[tasks.macos-build]
run_task = { name = ["desktop-build-dx", "macos-dist"  ] }

[tasks.windows-build]
run_task = { name = ["desktop-build-dx", "windows-dist"] }

[tasks.linux-local]
script = "dotenv cargo make linux-build"

[tasks.macos-local]
script = "dotenv cargo make macos-build"

[tasks.windows-local]
script = "dotenv cargo make windows-build"


# android

[tasks.android-dev]
script = "dx serve --android --hotpatch"

[tasks.android]
script = "dotenv cargo make android-dev"

[tasks.android-build-dx]
script = "dx bundle --android --release"

[tasks.android-dist]
script = "mkdir -p bin/android && cp -r target/dx/wingedcap-client/release/android/app/app/build/outputs/apk/debug/app-debug.apk bin/android/wingedcap.apk"

[tasks.android-build]
run_task = { name = ["android-build-dx", "android-dist"] }

[tasks.android-local]
script = "dotenv cargo make android-build"


